.idea/
model/__pycache__/
checkpoints/
tensorboard_logs/
training_logs/
training/model/__pycache__/
training/utils/__pycache__/
training/model/__pycache__/
training/checkpoints
training/runs
training/tensorboard_logs
training/training_logs
training/curve.ipynb
training/.ipynb_checkpoints/
training/process.log
onnx_export.py
SiameseUNetWithResnet50Encoder.onnx
**/*.tif
**/*.jpeg
**/*.log
**/*.png
**/*.jpg
