.idea/damage-assessment.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
.idea/building_damage_assessment.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
model/__pycache__/
training/model/__pycache__/
training/utils/__pycache__/
training/model/__pycache__/
training/checkpoints
training/runs
training/tensorboard_logs
training/training_logs
training/curve.ipynb
training/.ipynb_checkpoints/
training/process.log
onnx_export.py
SiameseUNetWithResnet50Encoder.onnx

process.log
training/images/20210709_073742_79_2431_3B_Visual_clip.tif
training/images/20220709_072527_82_242b_3B_Visual_clip.tif
training/images/after_Olenyvka_prison_Donetsk.jpeg
training/images/after_Zhovteneyvi.jpeg
training/images/before_Olenyvka_prison_Donetsk.jpeg
training/images/before_Zhovteneyvi.jpeg
training/images/20220220_080303_69_2486_3B_Visual_clip.tif
training/images/20220713_075021_72_222f_3B_Visual_clip.tif
training/buildingmasks/mask_Rubizhne.tif
training/images/75cm_Bilinear_20210709.tif
training/images/75cm_Bilinear.tif
